@import url('https://fonts.googleapis.com/css2? familia=Alegreya:ital,wght@0.400;1.400;1.700&display=swap');
:root{
    --oscuro: #522e20;
    --claro : #f1ebd0;
    --rosa1: #dc9a94b9;
    --rosasolido: #dc9a94;
    --rosa2: #d0b999;
    --mani: #e2b85e;
    --fuenteHeading: "Alegreya", serif;
    --fuenteParrafos: "Open Sans", sans-serif;

}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px  */
  }
  *,
  *:before,
  *:after {
    box-sizing: 1.6rem;
  }
  body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--claro);
    margin: 0;
  }
  /* GLOBALES*/
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 2.8rem;
  }
  img{
    max-width: 100%;
  }
  
/* Utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
.header_banner{
height: 500px;
background-image: url(../img/banner.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}

  .barra{
      padding:0 2rem;
      background-color: var(--rosa1);
  }
  .barra a{
      font-weight: 700;
  }

  @media (min-width: 768px){
    .barra{
      display: flex;
      justify-content: space-around; /*alinear horizontalmente*/
      align-items: center; /*Alinear verticalmente*/
    }
  }
  
  .logo{
  width: 32%;
  margin:auto;
    display:block;
  }


  @media (min-width: 768px){
     .navegacion{
       display: flex;
       gap: 2rem;
     }
  }
  .navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--oscuro);
  }
  .header__texto{
    margin-top: 3rem;
    text-align: center;
    color: var(--oscuro);
    line-height: 5rem;
  }
  .header__texto h1{
    font-family: var(--fuenteHeading);
    font-style: italic;
    line-height: 1.2;
    font-weight: 700;
    text-shadow: 7px 4px 5px var(--mani);
  }
  .header__texto h3{
    font-family: var(--fuenteHeading);
    font-style: italic;
    font-weight: 700;
    text-shadow: 7px 4px 5px var(--mani);
  }
  .menu{
      
    max-width: 90%;
    margin: auto;
  
    gap: 1rem;
  }
  @media (min-width: 768px){
      .menu{
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
  }
  
  .sabores, .espaciales{
    background: linear-gradient(to bottom right, var(--rosasolido), var(--rosa2));
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;

  }
  .formulario{
      width: 400px;
      margin: auto;
      margin-bottom: 5rem;
  }
  .formu{
     display: flex;
     flex-direction: column;
  }
  .formu input, select, textarea{
    padding: 1rem;
    font-size: 1.5 rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  button{
    max-width: 200px;
    padding: 1rem;
    font-size: 2rem;
    color: var(--claro);
    background-color: var(--oscuro);
    border-radius: 10px;
  }
 